
@{
    ViewBag.Title = "AngularTest";
}

<div class="row" ng-controller="HomeController">
    <div class="col-sm-12">
        {{Message}}


        {{Task3}}

        {{Task2}}


        {{Task1}}

    </div>


</div>

